
<section class="footer_wrapper">
	<svg width="416" height="318" viewBox="0 0 416 318" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M60.6944 240.684C0.71995 264.932 14.0432 294.202 0 317.029L416 315.492V0.311462H369.537C225.67 16.9923 249.889 83.4963 279.982 114.663C297.556 136.539 329.333 189.244 315.852 225.064C299 269.839 194.931 186.413 60.6944 240.684Z" fill="#B2BEB5"/>
	</svg>

	<div class="footer_content">
		<div>
			<p>Resources</p>
			<ul>
				<li>Where can I live?</li>
				<li>Removals</li>
				<li>Property guides</li>
				<li>House price index</li>
			</ul>
		</div>
		<div>
			<p>Quick links</p>
			<ul>
				<li>Cheap flats to rent</li>
				<li>Property investment</li>
				<li>Cheap houses for sale</li>
				<li>Overseas</li>
				<li>Find a consultant</li>
			</ul>
		</div>
		<div>
			<p>Locations</p>
			<ul>
				<li>England</li>
				<li>Spain</li>
				<li>France</li>
				<li>Portugal</li>
				<li>All Countries</li>
			</ul>
		</div>
		<div>
			<ul>
				<li>Search for rent</li>
				<li>Sign in / Create account</li>
				<li>Blog</li>
				<li>Tech blog</li>
			</ul>
		</div>
	</div>
</section>